doctype html
html
  head
    title= title
    link(href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet')
    link(href='stylesheets/style.css' rel='stylesheet')
    link(href='../stylesheets/style.css' rel='stylesheet')
    link(href='../../stylesheets/style.css' rel='stylesheet')
  body(style="background-color: #DDFFDD;  font-family: fantasy; font-size: 200%;")
   block content