extends layout
block content
 br
 h1.text-center.myhead Select Letter to Search

 p(style="padding-left:30px") Searching by last name

 ul(style="list-style-type: none; padding-left: 0px;")
   br
   div.text-center(style="background-color: #CCEECC;" )
    br
    li 
     form(name="A" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='A') 
      a.buttonstyle(href="#" onclick="document.forms['A'].submit();") A
    li 
     form(name="B" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='B') 
      a.buttonstyle(href="#" onclick="document.forms['B'].submit();") B
    li 
     form(name="C" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='C') 
      a.buttonstyle(href="#" onclick="document.forms['C'].submit();") C
    li 
     form(name="D" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='D') 
      a.buttonstyle(href="#" onclick="document.forms['D'].submit();") D
    li 
     form(name="E" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='E') 
      a.buttonstyle(href="#" onclick="document.forms['E'].submit();") E
    li 
     form(name="F" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='F') 
      a.buttonstyle(href="#" onclick="document.forms['F'].submit();") F
    li 
     form(name="G" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='G') 
      a.buttonstyle(href="#" onclick="document.forms['G'].submit();") G
    li 
     form(name="H" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='H') 
      a.buttonstyle(href="#" onclick="document.forms['H'].submit();") H
    li 
     form(name="I" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='I') 
      a.buttonstyle(href="#" onclick="document.forms['I'].submit();") I
    li 
     form(name="J" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='J') 
      a.buttonstyle(href="#" onclick="document.forms['J'].submit();") J
    li 
     form(name="K" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='K') 
      a.buttonstyle(href="#" onclick="document.forms['K'].submit();") K
    li 
     form(name="L" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='L') 
      a.buttonstyle(href="#" onclick="document.forms['L'].submit();") L
    li 
     form(name="M" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='M') 
      a.buttonstyle(href="#" onclick="document.forms['M'].submit();") M
    li 
     form(name="N" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='N') 
      a.buttonstyle(href="#" onclick="document.forms['N'].submit();") N
    li 
     form(name="O" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='O') 
      a.buttonstyle(href="#" onclick="document.forms['O'].submit();") O
    li 
     form(name="P" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='P') 
      a.buttonstyle(href="#" onclick="document.forms['P'].submit();") P
    li 
     form(name="Q" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='Q') 
      a.buttonstyle(href="#" onclick="document.forms['Q'].submit();") Q
    li 
     form(name="R" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='R') 
      a.buttonstyle(href="#" onclick="document.forms['R'].submit();") R
    li 
     form(name="S" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='S') 
      a.buttonstyle(href="#" onclick="document.forms['S'].submit();") S
    li 
     form(name="K" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='T') 
      a.buttonstyle(href="#" onclick="document.forms['T'].submit();") T
    li 
     form(name="U" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='U') 
      a.buttonstyle(href="#" onclick="document.forms['U'].submit();") U
    li 
     form(name="V" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='V') 
      a.buttonstyle(href="#" onclick="document.forms['V'].submit();") V
    li 
     form(name="W" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='W') 
      a.buttonstyle(href="#" onclick="document.forms['W'].submit();") W
    li 
     form(name="X" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='X') 
      a.buttonstyle(href="#" onclick="document.forms['X'].submit();") X
    li 
     form(name="Y" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='Y') 
      a.buttonstyle(href="#" onclick="document.forms['Y'].submit();") Y
    li 
     form(name="Z" method="post", action="/users/search/letter") 
      input(name="letter", type="hidden", value='Z') 
      a.buttonstyle(href="#" onclick="document.forms['Z'].submit();") Z





 br

 div.text-center
  br
  a(href="/")
   button.btn-lg.btn-default.buttonstyle Home
  br 
  br
